* {
  margin: 0;
  padding: 0;  
  text-decoration: none;  
}

ul li {
  list-style-position: outside;  
}
.problem-solve-ul-li {
  margin-left: 17px;
}

/* ----- FOR HOME PAGE ----- */
.header-welcome {
  font-size: 40px; 
  padding-left: 20px;
  text-shadow: 2px 2px 10px white;
}
.index-heading-3 {  
  color:white;  
  text-decoration:underline;
  font-size: 23px;
}
.index-content {
  color:white;
}
.index-header {
  width: 100%;
  height: 57px;
  padding: 5px 10px 5px 10px;   
  color:rgb(13, 43, 57);    
  background-image: linear-gradient(to left, white, white,rgb(12, 116, 107),rgb(207, 139, 49));   
}
.index-header div h1 {
  font-family:'Comic Sans MS', 'Comic Sans', cursive;
}
.index-footer {
  position: fixed;
  left: 0;
  bottom:0;
  background-image: linear-gradient(to right, rgb(1, 41, 21), rgb(12, 116, 107),rgb(207, 139, 49));
  width: 100%;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family:'Comic Sans MS', 'Comic Sans', cursive;
  font-size: 18px;  
}
.index-footer a {
  background-color: transparent;
  color: white; 
}
.index-footer i:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.index-body{
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	/* display: flex;
	align-items: center;
	justify-content: center; */	
  background-color: rgb(12, 116, 107);
}

/* ------- HAPPINESS/SAD TOGGLE BUTTON ------- */
.index-input[type="checkbox"]{
	/* position: absolute; */
  margin-right:auto;
  margin-left:auto;
  margin-top: 110px;
  display: block;
	width: 179px;
	height: 70px;
	outline: none;
	-webkit-appearance:none;
	background-color: white;  
	border-radius: 50px;  
	cursor: pointer;
}
.index-input[type="checkbox"]:before{
	/* position: absolute; */  
  margin-left:15px;
  margin-top:21px;
  display: block;
	content: "";
	background-color: white;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	/* top:30px;
	left: 20px;
	z-index: 0;  */
	box-shadow: 26px 0px 0 0px white,  
				13px 5px 0 20px rgb(12, 116, 107);
	transition:0.5s;
}
.index-input[type="checkbox"]:after{
	/* position: absolute; */
	margin-left:23px;
  margin-top:5px;
  display: block;
  content: "";
	background-color: white;
	height: 13px;
	width: 28px;  
	/* top:45px;
	left: 24px; */
	border-radius: 0 0 28px 28px;
	transition:0.5s;
}
.index-input:checked[type="checkbox"]:before{
	box-shadow: 26px 0px 0 0px white,
			13px 5px 0 20px rgb(2, 9, 26);
	transform: translateX(105px);  
}
.index-input:checked[type="checkbox"]:after{
	border-radius: 28px 28px 0 0;
	transform: translateX(105px);
}

/* ---- TE-HOUTAEWE BLOG ---- */
.te-houtaewa-body {
  color:#dda200;
  text-align: justify;  
  padding: 100px 300px 0 300px;
}
.te-houtaewa-body nav a {
  color:#dda200; 
  margin-left: 190px ; 
}

/* ---- MEDIA QUERIES FOR DIFFERENT SCREEN SIZES ---- */
@media screen and (max-width: 320px) {
  body{
    background-color: rgba(33, 74, 33, 0.947);   /* To select a corresponding landscape background image for this size of screen */
  }
}
@media screen and (max-width: 768px) {
  body{
    background-color: rgba(193, 117, 70, 0.947);
  }
}
@media screen and (min-width: 1200px) {
  body{
    background-color: white;
    color: rgb(13, 43, 57);
    font-family: Arial, Helvetica, sans-serif;
  }
} 

/* ------- GENERIC STYLING FOR BLOGS ------- */
.blog-title {
  padding:30px 0 5px 0;
  text-align: center;
  color:rgb(41, 91, 114);
}
.blog-body {
  text-align: justify;  
  padding: 30px 300px 0 300px;
}
.blog-body-no-padding {
  text-align: justify;
}
.blog-body-center {
  text-align: justify;
  padding: 20px 400px 50px 400px;
}
.blog-h2{
  font-size:23px;
  font-weight: bold;
  color:rgb(41, 91, 114);
  padding-bottom:2px;
}
.blog-h3{
  font-size:18px;
  font-weight: bold;
  color:rgb(41, 91, 114);
  padding-bottom:2px;
}
#icon-color {
  color:rgb(230, 152, 111);
}

.body-gingham {
  background: white;
	background-image: linear-gradient(90deg, rgba(156, 216, 223, 0.3) 50%, transparent 0), linear-gradient(rgba(156, 216, 223, 0.3) 50%, transparent 0);
	background-size: 100px 100px;
	font-family: 'Fira Code', monospace;
	text-align: center;
}
.row {
  display: flex;  
}
.two-column {
  flex: 50%;  
  position: relative;
}
#column-2 {
  padding-right: 250px;
}
.three-column {
  flex: 33%;
  margin: 80px 50px 0 50px;
  position: relative;
}
.three-column ul {    
  padding: 20px;
  list-style: none;    
}
.box { 
  color: white;
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;  
}
.navbar {
  overflow: hidden;
}
.navbar h1 {
  float: left;  
}

/* ---- IMAGES / SCREENSHOTS OF ALL BLOGS */
#landscape-image {
  background-image:url("../images/landscape1.jpg");   
  background-size: 1940px;
  backdrop-filter: blur(8px);
  /* width: 100%; */
  height: 100%;
}
#my-image {
  float:right;
  border-radius: 50%;
  width: 615px;
  height: 410px;
  margin: 50px 320px 5px 20px;
  box-shadow: 10px 5px 5px black;
}
#margin-image {
  border-radius:0%;
  padding-left: 100px;
}
#eq-image {
  padding: 10px 0 0 20px;
  width: 347px;
  height: 207px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.code-snippet-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
#dom-structure-img {
  width: 360px;
  height: 375px;
}
#neuron-img {  
  position: absolute;
  width: 150px;
  height: 128px;
}
#light-color-backgrd {
  background-image: linear-gradient(to right, rgb(102, 180, 150),rgb(150, 218, 192),rgb(203, 236, 224));
}
#colorful-backgrd {
  background-image: url("../images/colorful-background.png");  
}
#problem-solve-backgrd {
  background-image: url("../images/problem-solve-background.png");
  backdrop-filter: blur(7px); 
}
#learning-plan-backgrd {
  background-image: url("../images/learning-plan-backgrd.jpg");
}


/* ---------- DROPDOWN BUTTON ------------ */
.dropdown {  
  overflow:hidden;
  float:right;
  padding-right: 100px;
  padding-top: 14px;
}
.dropdown .dropbtn {
  cursor: pointer;
  padding: 15px;
  margin: 0;  
  background-color: white;
  /* .dropdown:hover .dropbtn WILL NOT work if the back-ground image is used instead of background-color */
  /*background-image: linear-gradient(to bottom, rgb(13, 43, 57),rgb(22, 49, 62),rgb(37, 92, 117));*/ 
  color: rgb(13, 43, 57);
  font-size: 16px;  
  outline:none;
  border:none;
  border-radius: 4px 4px 0 0;  
  position:relative; 
}

/* Dropdown button on hover & focus */
.dropdown:hover .dropbtn, .dropbtn:hover, .dropbtn:focus {
  background-color: rgb(41, 91, 114);
  color: white;
}

/* Dropdown Content (hidden by default) */
.dropdown-content {
  display:none;
  position: absolute;  
  min-width: 70px;
  min-height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;   
}
.dropdown-content a{  
  background-color: rgb(13, 43, 57);
  color: white;
  text-align: left;
  display: block;
  padding: 13px;
}
.dropdown-content a:hover {
  background-color: rgb(41, 91, 114);
}

/* Display links inside the dropdown */
.dropdown:hover .dropdown-content {
  display: block;    
}

/* ---------- BACK BUTTON ------------ */
.nav-links {
  position:absolute;
  left:0; 
  list-style: none;  /* set list-style to none in ul to remove the bullet points */  
  margin-left: 100px;  
}
.nav-links a{
  text-decoration: none;
  position: relative;
  padding: 5px;
}
.nav-links a::after {
  width: 0%;
  height: 2px; 
  content: "";
  background:rgb(230, 152, 111); 
  position: absolute;
  bottom: 0;
  left: 0;  
  transition: 0.5s;
}
.nav-links a:hover::after {
  width: 100%;
}
.back-button {
  font-size: 15px;
  font-weight: bold;   
  color: rgb(41, 91, 114);   
}

/* ------- FOR EMOTIONAL INTELLIGENCE BLOG ------- */
#light-color-backgrd .blog-body {
  padding: 30px 500px 0 500px;
}

/* ------- FOR NEUROPLASTICITY BLOG ------- */
.inline-hyperlink {
  color:rgb(230, 152, 111);
  font-style: italic;
}

/* ------- FOR LEARNING-PLAN BLOG -------  */
#learning-plan-backgrd .blog-title {
  color:white;
}
#learning-plan-backgrd .blog-body {
  color:white;
}
#learning-plan-backgrd .blog-h3 {
  color:rgb(230, 152, 111);
}
#learning-plan-backgrd nav div a {
  color: white;
}

/* ------- FOR PROBLEM-SOLVING BLOG -------  */
#problem-solve-backgrd .blog-title {
  color: rgb(78, 157, 194);
}
#problem-solve-backgrd .blog-body  {
  color: rgb(78, 157, 194);
  font-weight: bold;
  padding: 30px 450px 0 450px;
}
#problem-solve-backgrd .blog-h3  {
  color: rgb(16, 99, 138);
  background-color: rgb(230, 152, 111);
  height: 20px;
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
}
#problem-solve-backgrd nav div a {
  color: rgb(78, 157, 194);
}

/* ------- FOR INDENTIY - VALUE BLOG ------- */
.body-html {
  height: 100%;
  margin: 0;
  background-color: rgb(171, 212, 231);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-image {  
  background-image: url("../images/Zin_Queenstown.jpg");  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px); 
  height: 100%;   
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(227, 240, 236);
  border: 3px insert;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: justify;
}
.bg-text h1 {
  padding:10px 0 20px 0;
  text-align: center;
  color:rgb(230, 187, 46);
}
.bg-text nav div.nav-links {  
  margin-left: 5px;
  padding: 40px;  
}
.bg-text nav div a {
  font-size: 15px;
  font-weight: bold;   
  color:rgb(230, 187, 46);   
}
.bg-text nav div.nav-links a::after {
  background-color:rgb(230, 187, 46);
}


