* {
  margin: 0;
  padding: 0;  
  text-decoration: none;  
}
.header-welcome {
  font-size: 40px; 
  padding-left: 20px;
}
.index-heading-3 {  
  color:rgb(199, 148, 81);  
  text-decoration:underline;
}
.index-content {
  color:rgb(199, 148, 81);
}
.header {
  width: 100%;
  height: 48px;
  padding: 10px 10px 0px 10px;   
  color:rgb(41, 91, 114) ;  
  background-color: white; 
}
.landscape-image {
  background-image:url("../images/landscape1.jpg");
  backdrop-filter: blur(5px);  
  background-size: 1940px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 320px) {
  body{
    background-color: rgba(33, 74, 33, 0.947);   /* To select a corresponding landscape background image for this size of screen */
  }
}
@media screen and (max-width: 768px) {
  body{
    background-color: rgba(193, 117, 70, 0.947);
  }
}
@media screen and (min-width: 1200px) {
  body{
    background-color: white;
    color: rgb(13, 43, 57);
    font-family: Arial, Helvetica, sans-serif;
  }
} 

.body-gingham {
  background: white;
	background-image: linear-gradient(90deg, rgba(208, 232, 234, 0.3) 50%, transparent 0), linear-gradient(rgba(208,232,234,.3) 50%, transparent 0);
	background-size: 100px 100px;
	font-family: 'Fira Code', monospace;
	text-align: center;
}
.row {
  display: flex;
  
}
.two-column {
  flex: 50%;  
  position: relative;
}
#column-2 {
  padding-right: 250px;
}
.three-column {
  flex: 33%;
  margin: 80px 50px 0 50px;
  position: relative;
}
.three-column ul {    
  padding: 20px;
  list-style: none;    
}
.box { 
  color: white;
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;  
}
#my-image {
  float:right;
  border-radius: 50%;
  width: 615px;
  height: 410px;
  margin: 50px 320px 5px 20px;
  box-shadow: 10px 5px 5px black;
}
#margin-image {
  border-radius:0%;
  padding-left: 100px;
}
#eq-image {
  padding: 10px 0 0 20px;
  width: 347px;
  height: 207px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.js-dom-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#dom-structure-img {
  width: 360px;
  height: 375px;
}

.navbar {
  overflow: hidden;
}
.navbar h1 {
  float: left;  
}

/* ----------Dropdown Button------------ */
.dropdown {  
  overflow:hidden;
  float:right;
  padding-right:90px;
}
.dropdown .dropbtn {
  cursor: pointer;
  padding: 15px;
  margin: 0;  
  background-color: white;
  /* .dropdown:hover .dropbtn WILL NOT work if the back-ground image is used instead of background-color */
  /*background-image: linear-gradient(to bottom, rgb(13, 43, 57),rgb(22, 49, 62),rgb(37, 92, 117));*/ 
  color: rgb(13, 43, 57);
  font-size: 16px;  
  outline:none;
  border:none;
  border-radius: 4px 4px 0 0;  
  position:relative; 
}

/* Dropdown button on hover & focus */
.dropdown:hover .dropbtn, .dropbtn:hover, .dropbtn:focus {
  background-color: rgb(41, 91, 114);
  color: white;
}

/* Dropdown Content (hidden by default) */
.dropdown-content {
  display:none;
  position: absolute;  
  min-width: 70px;
  min-height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;   
}
.dropdown-content a{  
  background-color: rgb(13, 43, 57);
  color: white;
  text-align: left;
  display: block;
  padding: 13px;
}
.dropdown-content a:hover {
  background-color: rgb(41, 91, 114);
}

/* Display links inside the dropdown */
.dropdown:hover .dropdown-content {
  display: block;    
}

/* ----------BACK Button------------ */
.nav-links {
  position:absolute;
  left:0; 
  list-style: none;  /* set list-style to none in ul to remove the bullet points */  
  margin-left: 100px;  
}
.nav-links a{
  text-decoration: none;
  position: relative;
  padding: 5px;
}
.nav-links a::after {
  width: 0%;
  height: 2px; 
  content: "";
  background:rgb(230, 152, 111); 
  position: absolute;
  bottom: 0;
  left: 0;  
  transition: 0.5s;
}
.nav-links a:hover::after {
  width: 100%;
}
.back-button {
  font-size: 15px;
  font-weight: bold;   
  color: rgb(41, 91, 114);   
}


.blog-title {
  padding:30px 0 5px 0;
  text-align: center;
  color:rgb(41, 91, 114);
}
.blog-body {
  text-align: justify;  
  padding: 30px 300px 0 300px;
}
.blog-body-no-padding {
  text-align: justify;
}
.blog-body-center {
  text-align: justify;
  padding: 20px 400px 50px 400px;
}
.blog-h2{
  font-size:23px;
  font-weight: bold;
  color:rgb(41, 91, 114);
  padding-bottom:2px;
}
.blog-h3{
  font-size:18px;
  font-weight: bold;
  color:rgb(41, 91, 114);
  padding-bottom:2px;
}
#icon-color {
  color:rgb(230, 152, 111);
}
.inline-hyperlink {
  color:rgb(230, 152, 111);
  font-style: italic;
}
.body-gingham ul li {
  list-style-position: inside;
}
.neuron-img {  
  position: absolute;
  width: 150px;
  height: 128px;
}

/* ---- FOR INDENTIY - VALUE BLOG ONLY ----- */
.body-html {
  height: 100%;
  margin: 0;
  background-color: rgb(171, 212, 231);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {  
  background-image: url("../images/Zin_Queenstown.jpg");  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px); 
  height: 100%;   
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(227, 240, 236);
  border: 3px insert;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: justify;
}
.bg-text h1 {
  padding:10px 0 20px 0;
  text-align: center;
  color:rgb(230, 187, 46);
}
.bg-text nav div.nav-links {  
  margin-left: 5px;
  padding: 40px;  
}
.bg-text nav div a {
  font-size: 15px;
  font-weight: bold;   
  color:rgb(230, 187, 46);   
}
.bg-text nav div.nav-links a::after {
  background-color:rgb(230, 187, 46);
}
