@media screen and (max-width: 320px) {
  body{
    background-color: rgba(33, 74, 33, 0.947);
  }
}
@media screen and (max-width: 768px) {
  body{
    background-color: rgba(193, 117, 70, 0.947);
  }
}
@media screen and (min-width: 1200px) {
  body{
    background-color: rgb(37, 78, 95);
  }
}

h1{
  text-align: center;
  font-size:40px;
  padding-top: 10px;  
}

body {
background-color: rgb(37, 78, 95);
color: white;
font-family: Arial, Helvetica, sans-serif;
padding: 20px; 
}

.row {
  display: flex;
}
.column {
  flex: 50%;  
}
#column2 {
  padding: 10px;
}

.style {
  background-color: white;
  color: rgb(37, 78, 95);
  padding: 15px;
  border-radius: 4px;
  font-size: 20px;
  text-decoration: underline;
}

.my-image { 
  border-radius: 2%;  
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.images { 
  border-radius: 2%;
  cursor: pointer;
  max-width: 33%;
  height: 33%;
}
